@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #e5e5e5;
    text-decoration: none;
}

.leftSide{
    float: left;
    width: 342px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: #242424;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    position: fixed;
}

.img{
    padding: 50px;
}

.pfp{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    height: 200px;
    left: 69px;
    top: 44px;
    border-radius: 50%;
}

h2{
    margin-top: 20px;
    text-align: center;

    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #E5E5E5;
}

.lsButton{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60px;
    width: 270px;
    outline: none;
    border: none;
    background-color: #242424;
    color: #E5E5E5;
    border-radius: 5px;
    font-size: 36px;
}

.lsButton:hover{
    background-color: #00B0FF;
    border-radius: 30px;
}

.searchBar{

    margin-top: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: white;

    text-align: center;
    width: 270px;
    height: 45px;
    left: 36px;
    top: 869px;

    background: #343434;
    border-radius: 25px;
}

.dashBoard {
    margin-left: 342px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #121212;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: white;
}

.grid-item {
    background-color: #121212;
    border: none;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.grid-item a {
    color: #e5e5e5;
    text-decoration: none;
}

.grid-item a:hover img {
    filter: brightness(120%);
}

.dashImage{
    width: 313px;
    height: 253px;
    border-radius: 25px;
}