@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #121212;
    font-family: 'Poppins', sans-serif;
    color: #e5e5e5;
}

.navbar {
    width: 100%;
    background: #343434;
    height: 50px;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #e5e5e5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background:  #0091ea;
}

.main {
    margin: 10px;
    background-color: #242424;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
}

.img-user {
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

.main h2 {
    margin-top: 10px;
    text-align: center;
}

.contrib {
    margin: 10px 120px;
}

.contrib a {
    color: #707070;
    font-size: 16px;
    text-decoration: none;
}

.contrib a:hover {
    color: #e5e5e5;
}

#gamer-score-box {
    margin: 10px;
    border-radius: 25px;
    background-color: #242424;
    padding-top: 20px;
    padding-bottom: 20px;
}

#gamer-score-box h1 {
    text-align: center;
}

#gamer-score {
    border-radius: 50%;
    border: solid 2px #0091ea;
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

#gamer-score h2 {
    text-align: center;
    padding: 10px 0;
}

#top {
    margin: 10px;
    border-radius: 25px;
    background-color: #242424;
    padding-top: 20px;
    padding-bottom: 20px;
}

#top h1 {
    text-align: center;
    margin: 0 auto;
}

#top-c {
    font-size: 16px;
    margin: 0 auto;
    padding: auto;
}

#top-c ul {
    margin-left: 20px;
    list-style-position: inside;
    list-style-type: none;
}

#op-c li {
    margin-top: 15px;
}

#top-c li a {
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    color: #e5e5e5;
    margin-top: 15px;
}

#top-c li a:hover {
    text-decoration: underline;
}

.chevron-left {
    color: #e5e5e5;
}